{% extends "base.html" %}
{% load custom_tags %}

{% block title %}Site List{% endblock %}
{% block content %}
    <div class="container">
        <h1>Sites</h1>
        <p class="text-muted">This page allows you to add equipment to a particular site.</p>
        <button onclick="window.location.href = '/'" class="btn btn-secondary">Home</button>
        <!-- This will tell the user if the site was added successfully -->
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <div class="mt-2 alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <!-- All sites will be displayed in the following table -->
        <table class="mt-2 table table-striped">
            <thead>
            <tr>
                <th scope="col">Site Name</th>
                <th scope="col">Zip Code</th>
                <th scope="col">UUID (Last 4)</th>
                <th scope="col">Pieces of Equipment</th>
                <th class="text-center" scope="col">Add Equipment</th>
            </tr>
            </thead>
            <tbody>
            {% for site in site_list %}
                <!-- Calling the custom tag that calculates quantity-->
                {% equipment_quantity site as quantity %}
                <tr>
                    <td>{{ site.name }}</td>
                    <td>{{ site.zip_code }}</td>
                    <!-- UUID is sliced so that only the last 4 digits are displayed -->
                    <td>{{ site.uuid|slugify|slice:"-4:" }}</td>
                    <td>{{ quantity }}</td>
                    <!-- This is where we set the slug that will be put into the URL to be passed to the form -->
                    <td class="text-center"><a class="btn btn-success" href="{% url 'registration' site.pk %}"
                                               role="button">Add</a></td>
                </tr>
            {% empty %}
                <tr>
                    <td>No Sites to display</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if is_paginated %}
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <!--Render the previous button-->
                    {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link"
                                                 href="/site-list/?page={{ page_obj.previous_page_number }}">Previous</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                    {% endif %}

                    <!-- Render paginated buttons -->
                    {% for page_num in page_obj.paginator.page_range %}
                        <!-- Set the current page as active if the page number we are on is the same -->
                        {% if page_num is page_obj.number %}
                            <li class="active page-item"><a class="page-link"
                                                            href="/site-list/?page={{ page_num }}">{{ page_num }}</a>
                            </li>
                        {% else %}
                            <li class="page-item"><a class="page-link"
                                                     href="/site-list/?page={{ page_num }}">{{ page_num }}</a></li>
                        {% endif %}
                    {% endfor %}

                    <!--Render the next button-->
                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link"
                                                 href="/site-list/?page={{ page_obj.next_page_number }}">Next</a></li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    </div>
{% endblock content %}