{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
    <div class="container ">
        <h2 class="text-center">oTherm R&D instance</h2>
        <div class="row gy-8">
          <div class="col-md-12">
              <div class="p-4"> {# spacer #}</div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
              This instance of oTherm is the research and developmemt site for the oTherm project
          </div>
          <div class="col-md-8">
              <div class="row gy-4">
                 <div class="col-md-4">
                     <button class="btn btn-primary col-10 othermblue white" onclick="window.location.href = '/sites/'">Listing of Sites</button>
                 </div>
                 <div class="col-md-4"> <p>Please be patient as records are tallied.  </p>
                 </div>
              </div>
              <div class="row">
                 <div class="col-md-4">
                     <button class="btn btn-primary col-10 othermblue white" onclick="window.location.href = '/site-forms/'">Register Site </button>
                 </div>
                  <div class="col-md-4"> <p>Add a new site to database.</p>
                 </div>
              </div>
              <div class="row">
                 <div class="col-md-4"><button class="btn btn-primary col-10 othermblue white" onclick="window.location.href = '/admin-forms/'">Admin Forms</button>
                 </div>
                 <div class="col-md-4"> <p>Admin use only. </p>
                 </div>
              </div>
          </div>
        </div>
        <div class="row gy-8">
          <div class="col-md-12">
              <div class="p-4"> {# spacer #}</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
              <p>For more information on the oTherm project and codebase, please visit <a href="https://otherm.org">oTherm.org</a>
              </p>
          </div>
        </div>
    </div>

{% endblock %}
