{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
        <h1 class="pt-3 text-center">Upload Model(s)</h1>
	{% if messages %}
	   {% for message in messages %}	
	   	{% if message.tags == 'success' %}
			<div class="alert alert-success" role="alert">
				{{ message }}
			</div>	
		{% elif message.tags == 'error' %}
			<div class="alert alert-danger" role="alert">
				{{ message }}
			</div>
		{% endif %}
	    {% endfor %}
	{% endif %}
	<button onclick="window.location.href = '/'" class="btn btn-secondary">Home</button>
  	<hr class="mb-3"/>
        <div class="tab-content" id="forms">
            <div class="tab-pane fade show active" id="file" role="tabpanel" aria-labelledby="file-tab">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ fileForm|crispy }}
                    <button type="submit" class="btn btn-primary" name="fileForm">Upload</button>
                </form>
            </div>
        </div>
</div>
{% endblock %}
